In [1]:
import numpy as np
import pandas as pd

In [2]:
credit=pd.read_csv('/content/drive/MyDrive/Data Science Projects/Netflix Recommendation/credits.csv')
credit.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [3]:
meta=pd.read_csv('/content/drive/MyDrive/Data Science Projects/Netflix Recommendation/movies_metadata.csv')
meta.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
meta.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
meta['release_date']

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45466, dtype: object

Now, we will convert the type of this feature to datetime to ectract the release year from the date.

In [6]:
meta['release_date']=pd.to_datetime(meta['release_date'], errors='coerce')
#We are keeping coerce because if any invalid value is observed it will be directly set to NaN

In [7]:
meta['release_date']

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45461          NaT
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45466, dtype: datetime64[ns]

In [8]:
meta['year']=meta['release_date'].dt.year

In [9]:
meta['year'].value_counts().sort_index(ascending=False)

2020.0       1
2018.0       5
2017.0     532
2016.0    1604
2015.0    1905
          ...
1888.0       2
1887.0       1
1883.0       1
1878.0       1
1874.0       1
Name: year, Length: 135, dtype: int64

We already have the data of movies till 2016. We are interested in data after that year. We will be extracting the data of year 2017 only and further we will be extracting the data of 2018-2020 from other source.

Also, we will be fetching only the columns that contain relavant information to be displayed for recommendation.

In [10]:
new_meta = meta.loc[meta.year==2017,['genres','id','title','year']]

In [11]:
new_meta.head()

,genres,id,title,year
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0

In [12]:
new_meta.dtypes

genres     object
id         object
title      object
year      float64
dtype: object

In [13]:
#converting the data type of id to integer
new_meta['id']=new_meta['id'].astype(int)

In [14]:
credit.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

Now, we observe that both the dataframes have id column in common. We can use this column to merge them and create a new dataframe.

In [15]:
#merging the two dataframes
data=pd.merge(new_meta, credit, on="id")

In [16]:
data.head()

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de..."

In [17]:
data.dtypes

genres     object
id          int64
title      object
year      float64
cast       object
crew       object
dtype: object

In [18]:
# we will convert the "genre", "cast" and "crew" column into a list. if we observe it carefully, we will realise that it's a list containing dictionary. 
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))  #the "literal_eval" helps to convert the string into a list
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

ast.literal_eval function helps us to read the string containing python values. When we pass values to this function, it returns the actual type of the objects contained in it. Here, we see that these features contain list of dictionaries. So, it will return list as the data type and convert these columns into list.

In [19]:
data.dtypes

genres     object
id          int64
title      object
year      float64
cast       object
crew       object
dtype: object

Now, we observe that genres column contains list of dictionaries. Each dictionary has id of genre and name of genre. We are interested in fetching the names of each genre and append it into a new column with blank space as separator between them.

In [20]:
#we will fetch the individual genres like adventure, action, sci-fi, etc. using the following function

def make_genresList(x):
    gen = []
    st = " " #will be used to separate the different values of genres with a blank space.
    for i in x:
        if i.get('name') == 'Science Fiction': #renaming Science Fiction to Sc-Fi for shorter name. All the other names are kept as it is.
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen)) #then we will join them together and return the values

#The get() method returns the value of the item with the specified key. We have dictionaries with key-pair values. We get the names of genres using the name as key and value as the genre name.

In [21]:
#applying the function to genres column
data['genres_list']=data['genres'].map(lambda x: make_genresList(x))

In [22]:
data.head()

,genres,id,title,year,cast,crew,genres_list
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",Adventure Action Fantasy Comedy
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",Action Adventure Fantasy Sci-Fi
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",Action Adventure Fantasy Sci-Fi
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",Action Adventure Comedy Sci-Fi
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",Fantasy Action Adventure

Similarly, we will be fetching the names of the actors from the cast column and storing it in the new features.

In [23]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [24]:
data['actor_1_name']=data['cast'].map(lambda x: get_actor1(x))

In [25]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [26]:
data['actor_2_name']=data['cast'].map(lambda x: get_actor2(x))

In [27]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [28]:
data['actor_3_name']=data['cast'].map(lambda x: get_actor3(x))

In [29]:
data.head()

,genres,id,title,year,cast,crew,genres_list,actor_1_name,actor_2_name,actor_3_name
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",Adventure Action Fantasy Comedy,Johnny Depp,Javier Bardem,Geoffrey Rush
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",Action Adventure Fantasy Sci-Fi,Ben Affleck,Henry Cavill,Gal Gadot
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",Action Adventure Fantasy Sci-Fi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",Action Adventure Comedy Sci-Fi,Chris Pratt,Zoe Saldana,Dave Bautista
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",Fantasy Action Adventure,Pierce Brosnan,William Hurt,Benjamin Walker

In [30]:
data['crew'][1]

[{'credit_id': '55ef66dbc3a3686f1700a52d',
  'department': 'Production',
  'gender': 0,
  'id': 282,
  'job': 'Producer',
  'name': 'Charles Roven',
  'profile_path': '/4uJLoVstC1CBcArXFOe53N2fDr1.jpg'},
 {'credit_id': '594287cfc3a3686c2c00bc9f',
  'department': 'Sound',
  'gender': 2,
  'id': 531,
  'job': 'Music',
  'name': 'Danny Elfman',
  'profile_path': '/pWacZpYPos8io22nEiim7d3wp2j.jpg'},
 {'credit_id': '58cf4361c3a36850f302b9ce',
  'department': 'Production',
  'gender': 2,
  'id': 880,
  'job': 'Executive Producer',
  'name': 'Ben Affleck',
  'profile_path': '/cPuPt6mYJ83DjvO3hbjNGug6Fbi.jpg'},
 {'credit_id': '545b5d980e0a261fa9001af9',
  'department': 'Writing',
  'gender': 2,
  'id': 3893,
  'job': 'Writer',
  'name': 'David S. Goyer',
  'profile_path': '/vh0ULL0N22JlVlQ5mXFmreA6Ubz.jpg'},
 {'credit_id': '5921ebc5c3a368799b05a733',
  'department': 'Production',
  'gender': 1,
  'id': 2953,
  'job': 'Casting',
  'name': 'Lora Kennedy',
  'profile_path': '/iLrYUr57iX8LdHxnh3bflegzWuE.jpg'},
 {'credit_id': '583b404f925141546500111f',
  'department': 'Writing',
  'gender': 2,
  'id': 3794,
  'job': 'Characters',
  'name': 'Bob Kane',
  'profile_path': '/vuXwrlqaUydA4t5SFVdQkK9KsZL.jpg'},
 {'credit_id': '5921ebddc3a368799b05a74c',
  'department': 'Art',
  'gender': 2,
  'id': 3964,
  'job': 'Production Design',
  'name': 'Patrick Tatopoulos',
  'profile_path': '/74JOnC7DLU4uDwNzQX80oLX5Giy.jpg'},
 {'credit_id': '5921ec049251414a7b05e26d',
  'department': 'Costume & Make-Up',
  'gender': 2,
  'id': 5392,
  'job': 'Costume Design',
  'name': 'Michael Wilkinson',
  'profile_path': None},
 {'credit_id': '578ff7f39251411da7002f09',
  'department': 'Editing',
  'gender': 2,
  'id': 6051,
  'job': 'Editor',
  'name': 'David Brenner',
  'profile_path': None},
 {'credit_id': '59a65223c3a36827560052c9',
  'department': 'Writing',
  'gender': 2,
  'id': 12891,
  'job': 'Writer',
  'name': 'Joss Whedon',
  'profile_path': '/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg'},
 {'credit_id': '535e68b90e0a264fe10065f1',
  'department': 'Directing',
  'gender': 2,
  'id': 15217,
  'job': 'Director',
  'name': 'Zack Snyder',
  'profile_path': '/vdr0DlKJH4Ub7nWZtkanBH65bGH.jpg'},
 {'credit_id': '55ef66729251412c32004fe9',
  'department': 'Writing',
  'gender': 2,
  'id': 15217,
  'job': 'Writer',
  'name': 'Zack Snyder',
  'profile_path': '/vdr0DlKJH4Ub7nWZtkanBH65bGH.jpg'},
 {'credit_id': '5921ebba9251414ab105ac1f',
  'department': 'Production',
  'gender': 0,
  'id': 17610,
  'job': 'Casting',
  'name': 'Kristy Carlson',
  'profile_path': None},
 {'credit_id': '583b40729251415462001185',
  'department': 'Writing',
  'gender': 0,
  'id': 20007,
  'job': 'Characters',
  'name': 'Jerry Siegel',
  'profile_path': '/tpkgpm3pHrkSNewoDasKz6Chpg4.jpg'},
 {'credit_id': '583b408ec3a3687bc3001047',
  'department': 'Writing',
  'gender': 0,
  'id': 20008,
  'job': 'Characters',
  'name': 'Joe Shuster',
  'profile_path': None},
 {'credit_id': '578ffa419251410c0600064a',
  'department': 'Sound',
  'gender': 2,
  'id': 56827,
  'job': 'Original Music Composer',
  'name': 'Junkie XL',
  'profile_path': '/A4ppyrEpx4t96BALthouYItfFEH.jpg'},
 {'credit_id': '5921ead6c3a368723d0608d3',
  'department': 'Production',
  'gender': 2,
  'id': 66821,
  'job': 'Producer',
  'name': 'Jon Berg',
  'profile_path': None},
 {'credit_id': '5921eae3c3a3687a8e05ab46',
  'department': 'Production',
  'gender': 0,
  'id': 79242,
  'job': 'Executive Producer',
  'name': 'Wesley Coller',
  'profile_path': '/liHN0gb0T1jbya05NF0GllSzwYc.jpg'},
 {'credit_id': '55ef66c99251413e3e01c1e4',
  'department': 'Production',
  'gender': 1,
  'id': 79243,
  'job': 'Producer',
  'name': 'Deborah Snyder',
  'profile_path': None},
 {'credit_id': '5921eb169251414a7b05e1ab',
  'department': 'Production',
  'gender': 0,
  'id': 78135,
  'job': 'Co-Producer',
  'name': 'Gregory Wilson',
  'profile_path': None},
 {'credit_id': '5921eaf8c3a368799b05a688',
  'department': 'Production',
  'gender': 2,
  'id': 123292,
  'job': 'Line Producer',
  'name': 'Finni Johannsson',
  'profile_path': '/47x5yH8KgkTKqcZ3HAxQKtJT4m8.jpg'},
 {'credit_id': '5921eb07c3a3687a4b05972c',
  'department': 'Production',
  'gender': 0,
  'id': 131680,
  'job': 'Executive Producer',
  'name': 'Chris Terrio',
  'profile_path': '/fALSMZJLffFzhD1WM6cowV2M6wt.jpg'},
 {'credit_id': '545b5daac3a368535d0012e1',
  'department': 'Writing',
  'gender': 0,
  'id': 131680,
  'job': 'Writer',
  'name': 'Chris Terrio',
  'profile_path': '/fALSMZJLffFzhD1WM6cowV2M6wt.jpg'},
 {'credit_id': '583b4041925141546200116e',
  'department': 'Writing',
  'gender': 0,
  'id': 198034,
  'job': 'Characters',
  'name': 'Bill Finger',
  'profile_path': '/8YNi67GimJjHTmXR3nUhkEJGV95.jpg'},
 {'credit_id': '56a39423c3a368388e00308a',
  'department': 'Production',
  'gender': 2,
  'id': 211962,
  'job': 'Executive Producer',
  'name': 'Geoff Johns',
  'profile_path': '/xkaRZu1o1NILQ4PcRXqnjOrJ0Y0.jpg'},
 {'credit_id': '578ff9ed9251410c2800052c',
  'department': 'Camera',
  'gender': 0,
  'id': 1345974,
  'job': 'Director of Photography',
  'name': 'Fabian Wagner',
  'profile_path': '/uovLA9I5UYgiDdRt9pNbcDQh89U.jpg'},
 {'credit_id': '586d071fc3a368038f0081c8',
  'department': 'Crew',
  'gender': 2,
  'id': 1467461,
  'job': 'Special Effects',
  'name': 'Taylor Brown',
  'profile_path': '/oONAdCTWky49Rj5Ey0QiSkgVju8.jpg'},
 {'credit_id': '5921ec2bc3a3687a4b05981a',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1821154,
  'job': 'Makeup Artist',
  'name': 'Emmy Beech',
  'profile_path': None}]

Similarly, we will fetch the director name from the crew column. This column also contains list of dictionaries where each dictionary contains information about each crew member.

In [31]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [32]:
data['director_name']=data['crew'].map(lambda x: get_directors(x))

In [33]:
data.head()

,genres,id,title,year,cast,crew,genres_list,actor_1_name,actor_2_name,actor_3_name,director_name
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",Adventure Action Fantasy Comedy,Johnny Depp,Javier Bardem,Geoffrey Rush,Joachim Rønning Espen Sandberg
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",Action Adventure Fantasy Sci-Fi,Ben Affleck,Henry Cavill,Gal Gadot,Zack Snyder
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",Action Adventure Fantasy Sci-Fi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Taika Waititi
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",Action Adventure Comedy Sci-Fi,Chris Pratt,Zoe Saldana,Dave Bautista,James Gunn
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",Fantasy Action Adventure,Pierce Brosnan,William Hurt,Benjamin Walker,Sean McNamara

Now, we have extracted the required information. We will select only the columns that are going to be used for further analysis.

In [34]:
movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]
movie.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list,title
0,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,Pirates of the Caribbean: Dead Men Tell No Tales
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,Justice League
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,Thor: Ragnarok
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,Guardians of the Galaxy Vol. 2
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,The King's Daughter

Now, we will check for the missing values and will drop those rows because we don't have relavant information regarding them.

In [35]:
movie.isna().sum()

director_name     4
actor_1_name     22
actor_2_name     55
actor_3_name     70
genres_list       7
title             0
dtype: int64

In [36]:
movie=movie.dropna(how="any")

In [37]:
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
title            0
dtype: int64

In [38]:
#converting the movie title to lowercase for simplicity
movie['title']=movie['title'].str.lower()

Now, we will be renaming the columns in the same format as stored in the previous dataset. This will help us in merging all the datasets when needed.

In [39]:
#renaming
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})

Now, we will be merging the information of certain features into one and create a new feature that can be further used in the analysis.

In [40]:
#we will be using this information later on in the tfidvectorizor
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,pirates of the caribbean: dead men tell no tales,Johnny Depp Javier Bardem Geoffrey Rush Joachi...
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,justice league,Ben Affleck Henry Cavill Gal Gadot Zack Snyder...
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,thor: ragnarok,Chris Hemsworth Tom Hiddleston Cate Blanchett ...
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,guardians of the galaxy vol. 2,Chris Pratt Zoe Saldana Dave Bautista James Gu...
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,the king's daughter,Pierce Brosnan William Hurt Benjamin Walker Se...
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield ...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Loui...
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

Now, we will load the old dataset and create comb column in that as well which can be used in our further analysis

In [42]:
old = pd.read_csv('/content/drive/MyDrive/Data Science Projects/Netflix Recommendation/data1.csv')
old.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...

In [43]:
old['comb'] = old['actor_1_name'] + ' ' + old['actor_2_name'] + ' '+ old['actor_3_name'] + ' '+ old['director_name'] +' ' + old['genres']

old.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...

Now, we will merge both the datasets. Finally, we have movies information till the year 2017.

In [44]:
#putting all datasets together

new = old.append(movie)
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield ...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Loui...
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

In [45]:
new.duplicated().sum()

123

The idea is to drop the movies with the same title. We will be keeping only the last record of the movies with duplicate names.

In [46]:
#we are dropping the duplicated valuse and keeping only the last one, so that there will be only one type of a particular movie and not duplicates of same movie
new.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield ...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Loui...
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

In [47]:
#saving all the data up to 2017
new.to_csv('/content/drive/MyDrive/Data Science Projects/Netflix Recommendation/new_data.csv',index=False)